@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #333;
    font: 12px/1.5 "Microsoft Yahei", "Hiragino Sans GB", arial, sans-serif;
    min-width: 1200px;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

address,
cite,
dfn,
em,
var,
i {
    font-style: normal
}

ol,
ul {
    list-style: none;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #304290;
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix {
    height: 1%;
}

input::-ms-clear,
 ::-ms-reveal {
    display: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.mask {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
    zoom: 1;
}

:root .mask {
    filter: none\9;
}


/*for IE9*/

.outHide {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    max-height: 99999999px;
}

.tit6 {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin: 10px 15px 15px;
    border: 1px solid #e5e5e5;
    ;
    background: #f6f6f6;
    font-size: 16px;
    color: #333;
}

.content6 {
    margin: 0 15px;
}

.o_tab_box {
    margin-bottom: 20px;
    border-bottom: 2px solid #F59A23;
}

.o_tab_box a {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    min-width: 100px;
    padding: 0 20px;
    margin-right: -1px;
    border: 1px solid #D7D7D7;
    border-bottom: 0;
    text-align: center;
    font-size: 15px;
    color: #777;
}

.o_tab_box a:hover {
    color: #f60;
}

.o_tab_box a.on {
    background: #f60;
    border-color: #f60;
    color: #fff;
}

.o_sx_box {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.o_sx_info {
    display: inline-block;
    margin: 0 0 10px 0;
}

.o_sx_info_tit {
    display: inline-block;
    width: 90px;
    text-align: right;
    color: #666;
}

.o_sx_info_input {
    width: 190px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.o_sx_info_select {
    width: 212px;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.w78 {
    width: 78px;
}

.o_sx_info_btn {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    margin-left: 15px;
    background: #2BA1FB;
    color: #fff;
    font-size: 12px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.o_sx_info_btn:hover {
    background: #1e90e7;
    color: #fff;
}

.o_sx_info_btn2 {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    margin-left: 15px;
    background: #f50;
    color: #fff;
    font-size: 12px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.o_sx_info_btn2:hover {
    background: #f40;
    color: #fff;
}

.o_sx_info_btn3 {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    margin-left: 15px;
    background: #17A05D;
    color: #fff;
    font-size: 12px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.o_sx_info_btn3:hover {
    background: #149757;
    color: #fff;
}

.o_table {
    width: 100%;
}

.o_table th {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
    background: #f2f2f2;
    font-size: 14px;
    color: #666;
    border: 1px solid #E5E5E5;
}

.o_table td {
    line-height: 20px;
    text-align: center;
    border: 1px solid #E5E5E5;
    padding: 10px;
    font-size: 12px;
    word-wrap: break-word;
    word-break: break-all;
}

.o_table tr:nth-child(2n) td {
    background: #fcfcfc;
}

.o_table td.tl {
    text-align: left;
}

.o_table td.tr {
    text-align: right;
}

.o_table td a {
    color: #1189E6;
}

.o_table td a:hover {
    text-decoration: underline;
}

.o_table td span.red,
.red {
    color: #f00!important;
}

.o_table td span.blue,
.blue {
    color: #1189E6!important;
}

.o_table td span.orange,
.orange {
    color: #f70!important;
}

.o_table td span.green,
.green {
    color: #1ca80d!important;
}

.o_table td span.gray,
.gray {
    color: #aaa!important;
}

.o_table_img {
    width: 60px;
    height: 60px;
}

.o_czan1 {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    margin: 0 4px;
    background: #1a94f3;
    border-radius: 4px;
    color: #fff!important;
    border: 0;
    text-decoration: none!important;
}

.o_czan1:hover {
    background: #1189E6;
}

.o_czan2 {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    margin: 0 4px;
    background: #bbb;
    border-radius: 4px;
    color: #fff!important;
    border: 0;
    text-decoration: none!important;
}

.o_czan2:hover {
    background: #aaa;
}

.o_czan3 {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    margin: 0 4px;
    background: #17A05D;
    border-radius: 4px;
    color: #fff!important;
    border: 0;
    text-decoration: none!important;
}

.o_czan3:hover {
    background: #149757;
}

.o_czan5 {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    margin: 0 4px;
    background: #f20;
    border-radius: 4px;
    color: #fff!important;
    border: 0;
    text-decoration: none!important;
}

.o_czan5:hover {
    background: #d21d02;
}

.sdt_tfxg_t {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

.sdt_tfxg_t_info {
    display: inline-block;
    margin-right: 40px;
    color: #1189E6;
}

.sdt_tfxg_t_info i {
    color: #888;
    padding-right: 4px;
}

.o_form_box {
    margin: 40px 0;
    padding: 0 30px;
    position: relative;
}

.o_form_info {
    float: left;
    width: 33.33%;
    margin-bottom: 20px;
    position: relative;
}

.o_form_info_all {
    width: 100%;
}

.o_form_info_l {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 35px;
    line-height: 35px;
    width: 170px;
    text-align: right;
    font-size: 14px;
    color: #666;
}

.o_form_info_nr {
    margin-left: 185px;
    line-height: 35px;
    font-size: 14px;
    color: #000;
}

.o_form_info_nr a {
    color: #1189E6;
    text-decoration: underline;
}

.o_form_info_nr a:hover {
    color: #1189E6;
    text-decoration: underline;
}

.o_form_input {
    height: 33px;
    line-height: 33px;
    width: 180px;
    padding: 0 15px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.o_form_select {
    width: 212px;
    padding: 0 0 0 10px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #666;
}

.o_form_textarea {
    height: 80px;
    width: 600px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 微软雅黑;
    resize: none;
}

.o_form_info_xx {
    float: left;
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 10px 0 25px;
}

.o_form_dfxk {
    display: inline-block;
    margin-right: 30px;
}

.o_form_dfxk input {
    vertical-align: middle;
    margin: 0 4px 2px 0;
}

.o_form_b {
    float: left;
    width: 100%;
    margin: 50px 0;
    padding-left: 150px;
}

.o_form_b_btn1 {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 50px;
    margin-right: 40px;
    background: #f50;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
}

.o_form_b_btn1:hover {
    background: #f40;
    color: #fff;
}

.o_form_b_btn2 {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 50px;
    margin-right: 40px;
    background: #e90;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
}

.o_form_b_btn2:hover {
    background: #e80;
    color: #fff;
}

.o_form_b_btn3 {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 50px;
    margin-right: 40px;
    background: #8c0214;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
}

.o_form_b_btn3:hover {
    background: #790211;
    color: #fff;
}

.dialogCommon {
    z-index: 10000;
    position: fixed;
    width: 500px;
    top: -8888px;
    left: 50%;
    margin-left: -250px;
    background: none;
}

.dialogCommon_header {
    height: 40px;
    line-height: 40px;
    background: #2a3542;
    color: #fff;
    font-size: 15px;
    padding: 0 24px;
}

.dialogCommon_close {
    display: block;
    color: #888;
    float: right;
    width: 14px;
    height: 14px;
    background: url(../images/close3.png) no-repeat;
    margin: 12px -10px 0 0;
    *margin-top: -26px;
    position: static;
}

.dialogCommon_close:hover {
    background: url(../images/close4.png) no-repeat;
}

.dialogCommon_center {
    padding: 20px 0;
    background: #fff;
    max-height: 460px;
    overflow-y: auto;
}

.dialog_form_box {
    margin: 10px 30px;
}

.dialog_form {
    max-height: 9999px;
    margin-bottom: 20px;
}

.dialog_form_l {
    float: left;
    width: 100px;
    text-align: right;
    line-height: 35px;
    font-size: 14px;
    color: #555;
}

.dialog_form_r {
    float: left;
    margin-left: 10px;
    line-height: 35px;
    font-size: 14px;
}

.dialog_form_textarea {
    width: 280px;
    display: block;
    height: 80px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #666;
    resize: none;
    font-family: 微软雅黑;
}

.dialog_form_input {
    width: 280px;
    padding: 0 10px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #666;
}

.dialog_form_select {
    width: 302px;
    padding: 0 0 0 10px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #666;
}

.dialog_form_dfxk {
    display: inline-block;
    margin-right: 20px;
}

.dialog_form_dfxk input {
    vertical-align: middle;
    margin: 0 4px 2px 0;
}

.dialog_form_btn {
    text-align: right;
    margin-top: 30px;
    padding: 0 30px;
}

.dialog_form_btn1 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    margin-left: 20px;
    background: #1189E6;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
}

.dialog_form_btn1:hover {
    background: #0c7dd4;
    color: #fff;
}

.dialog_form_btn2 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    margin-left: 20px;
    background: #bbb;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
}

.dialog_form_btn2:hover {
    background: #aaa;
    color: #fff;
}

.o_tit5 {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}

.fR {
    float: right;
}

.xzwj_box {
    margin: 30px 0 50px;
    text-align: center;
}

.xzwj_box a {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    width: 300px;
    border: 1px solid #45b5e9;
    color: #45b5e9;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.xzwj_box a input {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: Alpha(opacity=0);
    cursor: pointer;
}

.xzwj_name {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.o_table_input {
    height: 20px;
    line-height: 20px;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    color: #666;
}

.tlC {
    text-align: center;
}

.p0 {
    padding: 0;
}

.gwb_xjrw_r_table {
    width: 100%;
}

.gwb_xjrw_r_table th {
    padding: 5px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: normal;
}

.gwb_xjrw_r_table td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: normal;
}

.layer_form_box {
    padding: 30px 30px 10px;
}

.layer_form_box .dialog_form {
    margin-bottom: 15px;
}

.gwb_xjrw_r_table_input {
    height: 28px;
    line-height: 28px;
    width: 60px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
}

.jgqj_b_cz {
    margin-top: 10px;
}

.jgqj_b_cz a {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 15px;
    background: #2BA1FB;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    text-decoration: none;
}

.jgqj_b_cz a:hover {
    background: #1e90e7;
    color: #fff;
    text-decoration: none;
}

#loading {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 99999999999;
    background: rgba(0, 0, 0, 0.4);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
    zoom: 1;
}

:root #loading {
    filter: none\9;
}


/*for IE9*/

#loading .loading_info {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -38px 0 0 -25px;
}

#loading .loading_b {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.mB15 {
    margin-bottom: 15px;
}

.tfhs_gxpm {
    padding-left: 22px;
}

.tfhs_gxpm span {
    padding-left: 13px;
    font-size: 14px;
    color: #666;
}

.tfhs_cz {
    margin: 35px 0 20px;
    text-align: center;
}

.tfhs_cz1 {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    margin: 0 30px;
    border: 1px solid #f20;
    border-radius: 2px;
    font-size: 14px;
    color: #f20;
}

.tfhs_cz1:hover {
    background: #f20;
    color: #fff;
}

.tfhs_cz2 {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 15px;
    margin: 0 30px;
    border: 1px solid #17A05D;
    border-radius: 2px;
    font-size: 14px;
    color: #17A05D;
}

.tfhs_cz2:hover {
    background: #17A05D;
    color: #fff;
}

.gwbTui {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
    margin: 0 6px;
    background: #f20;
    border-radius: 4px;
    color: #fff!important;
    text-decoration: none!important;
}

.gwbTui:hover {
    background: #c20;
    color: #fff!important;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}


/* 滚动条宽度 */

::-webkit-scrollbar-track {
    background-color: #eee;
}


/* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.08);
}


/* 滑块颜色 */

::-webkit-scrollbar-button {
    display: none;
    background-color: #e2e2e2;
    height: 10px;
}


/* 滑轨两头的监听按钮颜色 */

.layui-table td,
.layui-table th {
    font-size: 12px;
    text-align: center;
}

.layui-table-cell {
    padding: 0 10px;
}

.table_link {
    color: #1189E6!important;
    text-decoration: underline;
}

.table_link:hover {
    color: #57b3fb!important;
    text-decoration: underline;
}

.right_txt {
    float: right;
    margin-top: 3px;
    font-size: 12px;
}

.w78 {
    width: 78px;
}

.sxtj_r_ts {
    display: inline-block;
    color: #f00;
    padding-left: 10px;
}

.w103 {
    width: 103px;
}

#AspNetPager1,
#AspNetPager2 {
    margin: 30px 0 0;
    width: 100%!important;
}

#AspNetPager1:after,
#AspNetPager2:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#AspNetPager1 div,
#AspNetPager2 div {
    display: inline;
    float: none!important;
    color: #777;
}

#AspNetPager1 div a,
#AspNetPager2 div a {
    display: inline-block;
    height: 26px!important;
    line-height: 26px!important;
    padding: 0 8px!important;
    margin: 0 4px!important;
    color: #555;
    font-size: 12px;
    text-decoration: none;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #D5D5D5;
    cursor: pointer;
}

#AspNetPager1 div a:hover,
#AspNetPager2 div a:hover {
    background: #009688;
    border-color: #009688;
    color: #fff;
}

#AspNetPager1 div a[disabled="disabled"],
#AspNetPager2 div a[disabled="disabled"] {
    color: #888;
    background: #f2f2f2;
}

#AspNetPager1 div a[disabled="disabled"]:hover,
#AspNetPager2 div a[disabled="disabled"]:hover {
    color: #888;
    background: #f2f2f2;
    border-color: #D5D5D5;
    color: #888;
}

#AspNetPager1 div span,
#AspNetPager2 div span {
    padding: 0 5px;
    margin: 0 5px;
    color: #009688!important;
}

#AspNetPager1_btn,
#AspNetPager2_btn {
    height: 28px;
    padding: 0 6px!important;
    margin: 0 5px 3px!important;
    vertical-align: middle;
    color: #555;
    font-size: 12px;
    text-decoration: none;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #D5D5D5;
    cursor: pointer;
}

#AspNetPager1_btn:hover,
#AspNetPager2_btn:hover {
    background: #009688;
    border-color: #009688;
    color: #fff;
}

#AspNetPager1_input,
#AspNetPager2_input {
    height: 26px;
    line-height: 26px;
    width: 40px;
    border: 1px solid #D5D5D5;
    background: #fff;
    text-align: center;
    font-size: 12px;
}

.mT-5B30 {
    margin: -5px 0 30px!important;
}

.sct_wjsc_info_box {
    display: inline-block;
    margin: 0 30px -10px 0;
    width: 120px;
    overflow: hidden;
    text-align: center;
}

.sct_wjsc_info {
    display: inline-block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    border: 3px solid #ddd;
    border-radius: 6px;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
}

.sct_wjsc_info input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: Alpha(opacity=0);
    z-index: 9;
    cursor: pointer;
}

.sct_wjsc_info img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: 3px;
}

.sct_wjsc_info .sct_wjsc_del {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    background: #000;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    opacity: .5;
    filter: Alpha(opacity=50);
    z-index: 10;
}

.sct_wjsc_info .sct_wjsc_del:hover {
    color: #f00;
    text-decoration: none;
}

.sct_wjsc_name {
    display: block;
    width: 100%;
    line-height: 20px;
    height: 20px;
    margin-top: 5px;
    color: #666;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fx_wlys_box {
    max-height: 9999px;
}

.fx_wlys {
    float: left;
    width: 224px;
    margin: 0 30px 30px 0;
}

.fx_wlys_img {
    display: block;
    height: 220px;
    position: relative;
    border: 2px solid #eee;
}

.fx_wlys_img img {
    width: 100%;
    height: 100%;
}

.fx_wlys_name {
    height: 35px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    color: #333;
}

.fx_wlys:hover .fx_wlys_img {
    border-color: #f50;
}

.fx_wlys_on .fx_wlys_zz {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: url(../images/yes71.png) center center no-repeat rgba(0, 0, 0, .4);
}

.fx_wlys_on:hover .fx_wlys_img {
    border-color: #eee;
}

.o_b_btn_box {
    text-align: center;
    margin-top: 30px;
}

.bitian {
    color: #f00;
    font-weight: bold;
    padding-right: 2px;
}

.o_form_box_big .o_form_input {
    width: 350px;
}

.o_form_input::-webkit-input-placeholder {
    color: #aaa;
}

.sctj_r_ts {
    display: inline-block;
}

.fx_wltg_tit {
    position: absolute;
    right: 0;
    top: -15px;
    font-size: 14px;
}

.fx_wltg_img {
    position: absolute;
    right: 0;
    top: 15px;
    max-width: 270px;
}

.chooseProBtn {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    margin: 0 0 1px 15px;
    background: #2BA1FB;
    color: #fff!important;
    vertical-align: middle;
    text-decoration: none!important;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.chooseProBtn:hover {
    background: #1e90e7;
    color: #fff;
}

.dialog_gl {
    width: 95%;
    margin: 0 auto 15px;
}

.dialog_gl_input {
    height: 28px;
    line-height: 28px;
    width: 120px;
    margin-right: 15px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.dialog_gl_select {
    height: 30px;
    line-height: 30px;
    width: 120px;
    margin-right: 15px;
    padding: 0 0 0 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    position: relative;
    top: 1px;
}

.dialog_gl_btn {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    background: #006eff;
    color: #fff;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

.dialog_gl_btn:hover {
    background: #0369ef;
    color: #fff;
}

.glcp_radio {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 2px;
    background: url(../images/wxz.png);
    cursor: pointer;
}

.glcp_radio_on {
    background: url(../images/xz.png);
}

.listTable th,
.listTable td {
    border: solid 1px #e6e6e6;
    margin: 0;
    padding: 10px 8px;
    line-height: 22px;
    text-align: center;
    word-break: break-all;
    font-size: 12px;
    color: #444;
}

.listTable th,
.listTable .th {
    background: #fff;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
}

.listTable_ys {
    width: 95%;
    margin: 0 auto;
}

.dialog_form_input::-webkit-input-placeholder {
    color: #aaa;
}

.tR {
    text-align: right;
}

.inputFileYs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: Alpha(opacity=0);
    cursor: pointer;
}


/* 2021-06-16 wangxing */

#daoru_input {
    display: none;
}

.modifyinput {
    width: 20px;
}


/* 2021-10-09 */

.selectstyle {
    width: 382px;
    height: 35px;
    line-height: 35px;
    padding: 0 0 0 15px;
}

.selectstyle1 {
    width: 190px;
    height: 35px;
    line-height: 35px;
    padding: 0 0 0 15px;
}

.o_form_input1 {
    height: 33px;
    line-height: 33px;
    width: 138px;
    padding: 0 15px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 5px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    margin: 10px 0 0 0;
}

.flex .o_form_info_all {
    width: 650px;
    margin-bottom: 10px;
}

.lab-radio {
    margin-right: 30px;
}

.lab-radio input {
    margin-right: 5px;
}

.marginL5 {
    margin-left: 5px;
}

.o_form_textarea1 {
    width: 360px;
}

.flex .o_form_input {
    width: 272px;
}

.flex .selectstyle {
    width: 304px;
}

.flex .o_form_info_l {
    width: 145px;
}

.flex .o_form_info_nr {
    margin-left: 148px;
}

.flex .selectstyle1 {
    width: 150px;
}

.flex .o_form_textarea1 {
    width: 932px;
}

.flex .o_form_b {
    padding-left: 420px;
    margin: 0;
}

.flex .o_form_input1 {
    width: 99px;
}